* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/* img {
  width: 100%;
} */

.slide {
  border: 5px solid lightgray;
  max-width: 600px;
  width: 80%;
  margin: auto;
  position: relative;
}

.slid-wrap {
  border: 1px solid red;
}
.btn {
  cursor: pointer;
}
/* slide-dot가 갖고있는 영역도 확인해줘야함 */
.btn,
.slider-dot {
  position: absolute;
}
.slider-dot {
  left: 40%;
  bottom: -30px;
}
.slider-dot > span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
}
/* .slider-dot > span:first-of-type {
  background-color: black;
  color: white;
} */
.slider-dot > span.active {
  background-color: black;
  color: white;
}
.dot1 {
  left: 0;
}
.dot2 {
  left: 30px;
}
.dot3 {
  left: 60px;
}
.dot4 {
  left: 90px;
}
.btn {
  top: 50%;
}
.prev {
  left: -50px;
}
.next {
  right: -50px;
}
.slide-wrap {
  border: 5px solid lightgreen;
  /* overflow: hidden; */
}
.sliderUl {
  border: 5px slateblue solid;
  display: flex;
  width: 300%;
  /* ul의 위치가 slide를 보여주는 것을 관여함 */
  transform: translateX(0);
  /* 부드럽게 넘기기 -> transform 속성이 변경될 때*/
  transition: transform 0.5s ease;
}
/* %는 부모를 기준으로 한 상대대단위 */
.slider {
  border: 5px solid red;
  width: calc(100% / 3);
}
.slider:nth-fo-type(3) ~ .slider {
  display: none;
}
.slider > div {
  position: relative;
  padding-top: 35%;
  overflow: hidden;
}
.slider > div > * {
  position: absolute;
  top: 0;
  left: 0;
}

.slider > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider > div p {
  z-index: 1;
  background-color: black;
  color: white;
  padding: 2rem;
}
