* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

.slide {
    border: 2px solid lightgray;
    max-width: 600px;
    width: 80%;
    margin: auto;
    position: relative;
}
.btn,
.slider-dot {
    /*border: 2px solid aqua;*/
    position: absolute;
}
.slider-dot {
    width: 100%;
    bottom: -30px;
    /* left: 50%; */
    /* translate: -50%; */
}
.slider-dot > .dot {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
}
.slider-dot > .dot:first-of-type {
    background-color: black;
    color: white;
}
.btn {
    top: 50%;
    cursor: pointer;
    padding: 0.5rem;
}
.btn.prev {
    left: -50px;
}
.btn.next {
    right: -50px;
}

.slide-wrap {
    /* border: 2px solid green; */
    overflow: hidden;
}
.sliderUl {
    /* border: 5px solid violet; */
    display: flex;
    width: 300%;
    transition: 0.3s;
    /* transform: translateX(-33%); */
}
.slider {
    /* border: 5px solid red; */
    width: calc(100% / 3);
}
.slider:nth-of-type(3) ~ .slider {
    display: none;
}
.slider > div {
    position: relative;
    padding-top: 60%;
    overflow: hidden;
}
.slider > div > * {
    position: absolute;
    top: 0;
    left: 0;
}
.slider > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider > div p {
    z-index: 1;
    background-color: black;
    color: white;
    padding: 2rem;
}
